<% if (locals.errors) {%>
<ul>
    <% errors.forEach((error) => { %>
    <li><%= error.msg %></li>
    <% }); %>
</ul>
<% } %> <% if (locals.errorMessages && locals.errorMessages.length) { %>
<ul>
    <% locals.errorMessages.forEach(errorMessage => { %>
    <li><%= errorMessage %></li>
    <% }); %>
</ul>
<% } %>
