<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Authentication Basics</title>
    </head>
    <body>
        <% if (locals.currentUser) {%>
        <h1>
            WELCOME BACK <%= currentUser.firstname + " " + currentUser.lastname
            %>
        </h1>
        <a href="/messages/new-message">Create a new message</a>
        <% if (locals.currentUser.member) {%>
        <h2>Congrats on being a member!</h2>
        <% } else {%>
        <a href="/user/membership-form">Become a Member Today!</a>
        <%}%> <% if (locals.currentUser.admin) {%>
        <h2>Congrats on being an Admin!</h2>
        <% } else {%>
        <a href="/user/admin-form">Become an Admin Today!</a>
        <%}%>
        <a href="/user/log-out">LOG OUT</a>
        <% } else { %>
        <h1>Please Log In</h1>
        <%- include("partials/errors") %>
        <form action="/user/log-in" method="POST">
            <label for="username">Username</label>
            <input
                id="username"
                name="username"
                placeholder="username"
                type="text"
            />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <button type="submit">Log In</button>
        </form>
        <a href="/user/sign-up">Or Sign Up</a>
        <%}%> <%- include("partials/messages") %>
    </body>
</html>
