<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
    </head>
    <body>
        <%- include("partials/errors.ejs") %>
        <form action="/user/sign-up" method="post">
            <label for="firstname">First Name: </label>
            <input type="text" name="firstname" id="firstname"
            placeholder="first name" value="<%= locals.firstname ? firstname :
            "" %>" required />
            <label for="lastname">Last Name: </label>
            <input type="text" name="lastname" id="lastname" placeholder="last
            name" value="<%= locals.lastname ? lastname : "" %>" required />
            <label for="username">Username: </label>
            <input
                type="email"
                name="username"
                id="username"
                placeholder="username"
                required
            />
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required />
            <label for="confirmpassword">Confirm Password: </label>
            <input
                type="password"
                name="confirmpassword"
                id="confirmpassword"
                required
            />
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
